:root {
    --color-primary: #FDF7E4;
    --color-accent: #F9E8D9;
    --color-secondary: #DED0B6;
    --color-background: #BBAB8C;
    --color-invicible: rgb(0,0,0,0);
    font-size: 20px;
}

body {
    background-color: var(--color-background);
    display:grid;
    grid-template-columns: minmax(10px,25px) 1fr minmax(10px,25px);
    grid-template-rows: minmax(10px,100px) 4fr minmax(10px,100px);
    min-height: 100vh;
    margin: 0;
    grid-template-areas: 
    ". . ."
    ". main ."
    ". . .";
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    border: 2px solid var(--color-accent);
}

.main > .sidebar {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    border-right: 2px solid var(--color-secondary);
    row-gap: 3px;
    background-color: var(--color-secondary);
}

.main > .sidebar > .manager {
    font-size: 20px;
    background-color: var(--color-primary);
    border: none;
}

.main > .sidebar > .manager.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: var(--color-secondary);
    display: grid;
    grid-template-rows: repeat(auto-fill, 40px);
    row-gap: 3px;
    overflow-y: auto;
}

.main > .sidebar > .manager > .project {
    display: grid;
}

.main > .sidebar > .manager > .project > .wrapper{
    display: grid;
    background-color: var(--color-primary);
}

.main > .sidebar > .manager > .project > .wrapper.clicked{
    grid-template-columns: 1fr 50px;
}

.main > .sidebar > .manager > .project > .wrapper:hover {
    cursor: pointer;
    background-color: var(--color-accent);
}

.main > .sidebar > .manager > .project > .wrapper > .title-holder{
    display: grid;
}

.main > .sidebar > .manager > .project > .wrapper > .title-holder >.title {
    margin: 0;
    place-self: center;
}

.main > .sidebar > button.manager:hover{
    cursor: pointer;
    background-color: var(--color-accent);
}

.main > .sidebar > .manager.clicked{
    grid-template-columns: 9fr 1fr;
}

.main > .board {
    display: grid;
    grid-template-rows: 40px 1fr 40px;
    row-gap: 5px;
    background-color: var(--color-background);
}

.main > .board > .all{
   margin: 0;
   place-self: center;
}

.main > .board > .project{
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.main > .board > .project > .title{
    margin: 0;
    margin-left: 5px;
    padding: 5px;
    place-self: center;
}

.main > .board > .todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    row-gap: 3px;
    overflow-y: auto;
}

.main > .board > .todo-list > .todo {
    display: grid;
}

.main > .board > .todo-list > .todo > .wrapper{
    display: grid;
    background-color: var(--color-accent);
    grid-template-columns: 8fr 1fr 1fr;
}

.main > .board > .todo-list > .todo > .wrapper > .details{
    display: grid;
    grid-template-rows: repeat(auto-fill, 25px);
    padding-left: 5px;
}

.main > .board > .todo-list > .todo > .wrapper > .details.low{
    border-left: 5px solid green;
}

.main > .board > .todo-list > .todo > .wrapper > .details.medium{
    border-left: 5px solid orange;
}

.main > .board > .todo-list > .todo > .wrapper > .details.high{
    border-left: 5px solid red;
}

.main > .board > .todo-list > .todo > .wrapper > .details:hover{
    background-color: var(--color-secondary);
    cursor: pointer;
}

.main > .board > .todo-list > .todo > .wrapper > .details > p{
   margin: 0;
}

.main > .board > .todo-list > .todo.expand {
    grid-row: span 2;
}

.main > .board > .todo-list > .todo.expand > .wrapper{
    grid-template-rows: repeat(4, 25px);
    grid-template-areas: 
    "details . ."
    "details edit delete"
    "details edit delete"
    "details . .";
}

.main > .board > .todo-list > .todo.expand > .wrapper > .details{
    grid-area: details;
}

.main > .board > .todo-list > .todo.expand > .wrapper > .edit{
    grid-area: edit;
}

.main > .board > .todo-list > .todo.expand > .wrapper > .delete{
    grid-area: delete;
}
