:root {
    --color-primary: #FDF7E4;
    --color-accent: #F9E8D9;
    --color-secondary: #DED0B6;
    --color-background: #BBAB8C;
    --color-invicible: rgb(0,0,0,0);
    font-size: 20px;
}

body {
    background-color: var(--color-background);
    display:grid;
    grid-template-columns: minmax(10px,25px) 1fr minmax(10px,25px);
    grid-template-rows: minmax(10px,100px) 4fr minmax(10px,100px);
    min-height: 100vh;
    margin: 0;
    grid-template-areas: 
    ". . ."
    ". main ."
    ". . .";
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    border: 2px solid var(--color-secondary);
}

.main > .sidebar {
    display: grid;
    grid-template-rows: repeat(auto-fill, 40px);
    border-right: 2px solid var(--color-secondary);
    row-gap: 3px;
    background-color: var(--color-secondary);
}

.main > .sidebar > .project{
    font-size: 20px;
    background-color: var(--color-primary);
    border: none;
}

.main > .sidebar > .project:hover{
    cursor: pointer;
    background-color: var(--color-accent);
}

.main > .board {
    display: grid;
    grid-template-rows: repeat(auto-fill, 50px);
    row-gap: 3px;
    background-color: var(--color-accent);
}

.main > .board > .title{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr;
}

.main > .board > .title > p{
    margin: 0;
    margin-left: 5px;
    padding: 5px;
    place-self: center;
    border-radius: 20%;
}

.main > .board > .todo{
    background-color: var(--color-secondary);
    padding-left: 5px;
}

.main > .board > .todo.low{
    border-left: 2px solid green;
}

.main > .board > .todo.medium{
    border-left: 2px solid orange;
}

.main > .board > .todo.high{
    border-left: 2px solid red;
}

.main > .board > .todo.add{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    font-size: larger;
    font-weight: bolder;
}

.main > .board > .todo:hover{
    background-color: var(--color-primary);
    cursor: pointer;
}

.main > .board > .todo > p{
    margin: 0;
}